
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    font-family: "Segoe UI";
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
  /* img, video {
    max-width: none;
  } */

  body {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(185, 184, 184);
  }

  body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  body::-webkit-scrollbar-track {
    background: rgb(185, 184, 184);
    border-radius: 10px;
    display: none;
  }
  
  body::-webkit-scrollbar-thumb {
    color: black;
    border-radius: 10px;
    background: rgb(185, 184, 184);
  }

  .primary_btn {
    width: 140px;
    height: 40px;
    background: #49A347;
    border-radius: 5px;
  }
  
  .primary_btn_large {
    width: 200px;
    height: 60px;
    background: #49A347;
    border-radius: 5px;
  }

  .nav-link {
    list-style: none;
    transition: 1s all ease-in;
  }

  .nav-link:hover {
    color: #49A347;
    transform: scale(1.001);
  }

  @media screen and (max-width: 900px) {
    .primary_btn_large {
      width: 200px;
      height: 50px;
    }
  }
  @media screen and (max-width: 768px) {
    .primary_btn_large {
      width: 100%;
    }
  }